<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">Employee list</div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Position</th>
            </tr>
            <tr>
                <td>Alexandru</td>
                <td>Grameni</td>
                <td>Junior Java Programmer</td>
            </tr><tr>
                <td>Milan</td>
                <td>Stojiljkovic</td>
                <td>Junior Java Programmer</td>
            </tr><tr>
                <td>John</td>
                <td>Malkovich</td>
                <td>Dot Net Programmer</td>
            </tr>
        </table>

        </div>
    </div>
</body>
</html>